.hidden2 {
  margin-left: 30px;
}
.hidden {
  @media screen and(max-width:1279px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
  }
}
.logo {
  @media screen and (min-width: 1280px) {
    margin-right: 110px;
  }
}
.hidden2 {
  @media screen and(max-width:768px) {
    display: none;
  }
  @media screen and(min-width:768px) and (max-width: 1279px) {
    display: block;
  }
  @media screen and (min-width: 1280px) {
    margin-left: auto;
  }
}
.dop {
  display: flex;
}
.menubtn {
  margin-left: auto;
  background: transparent;
  border: none;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.item {
  @media screen and (min-width: 1280px) {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
}
.circle {
  width: 346px;
  height: 344px;
  background: #ffa5ba;
  border-radius: 50%;
  position: relative;
  margin-left: 36px;
  margin-top: 27px;
}
.pink {
  background: #ffb8ca;
  height: 502px;
  overflow: hidden;
}
.header {
  position: absolute;
  top: 0;
  width: 100%;
  background: #ffb8ca;
  padding-top: 6px;
}
.pink__title {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-family: Titan One;
  width: 218px;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 900;
}
.pink__title2 {
  font-family: Titan One;
  font-size: 48px;
  line-height: 46px;
  text-transform: uppercase;
  color: #d41443;
}
