body {
  font-family: "DM Sans", sans-serif;
  padding-top: 56px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.hidden2 {
  margin-left: 30px;
}

@media screen and (max-width: 1279px) {
  .hidden {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .hidden {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .logo {
    margin-right: 110px;
  }
}

@media screen and (max-width: 768px) {
  .hidden2 {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hidden2 {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .hidden2 {
    margin-left: auto;
  }
}

.dop {
  display: flex;
}

.menubtn {
  margin-left: auto;
  background: transparent;
  border: none;
}

@media screen and (min-width: 1280px) {
  .menubtn {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .item:not(:last-child) {
    margin-right: 35px;
  }
}

.circle {
  width: 346px;
  height: 344px;
  background: #ffa5ba;
  border-radius: 50%;
  position: relative;
  margin-left: 36px;
  margin-top: 27px;
}

.pink {
  background: #ffb8ca;
  height: 502px;
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  background: #ffb8ca;
  padding-top: 6px;
}

.pink__title {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-family: Titan One;
  width: 218px;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 900;
}

.pink__title2 {
  font-family: Titan One;
  font-size: 48px;
  line-height: 46px;
  text-transform: uppercase;
  color: #d41443;
}
